<section class="form-auth text-center">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2>Register</h2>  


    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
    <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name" %>
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Email Address" %>
    <%= f.text_field :company, autofocus: true, class: "form-control", placeholder: "Company" %>
    
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Repeat Password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.label :images %>
    <%= f.file_field :image, class: "form-control", placeholder: "Profile Picture" %>
    <div class="actions">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
</div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>