<header class="navbar navbar-dark bg-dark navbar-expand-md fixed-top shadow">
    <div class="container-fluid">
    <a href="<%= account_signed_in? ? dashboard_path : root_path %>"><span class="fs-4 text-white">saraari</span></a>
    
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
 
          </li>
          <% if account_signed_in?%>
          <li class="nav-item">
              <%= link_to 'Dashboard', dashboard_path, class:"nav-link"%>
            </li>
          <% else %>
          <% end %>
        <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>
           
          <li class="nav-item dropdown">
            <%= link_to 'Properties',  propertylist_path, class: "nav-link dropdown-toggle", id: "navbarDropdownMenuLink" %>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Selling</a></li>
              <li><a class="dropdown-item" href="#">Renting</a></li>
            </ul>
        </li>
        
          <li class="nav-item">
          <%= link_to 'Advertizing',  advertizing_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
          <%= link_to 'Realtors',  realtors_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Home Loans',  loans_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact Us',  contact_path, class: "nav-link"%>
          </li>
          
           
          
        </ul>
        <form class="d-flex">
        <% if account_signed_in? %>
             <li class="nav-item">
              <%= link_to 'Profile',  edit_account_password_path, class:"btn btn-sm btn-outline-secondary"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_account_session_path, method: :delete, class:"btn btn-sm btn-outline-danger"%>
            </li>

          <% else %>
          <%= link_to 'Log In', new_account_session_path, class:"btn btn-sm btn-outline-secondary"%>
        
        <% end %>

        </form>
      </div>
    </div>
  </header>