<h3>Congratulations <%= @agent.first_name %>!!!</h3>

<p>You have a new viewing request for <%= @property.name %></p>

<p>with:<br />

First Name: <strong><%= @first_name %></strong><br />
Last Name: <strong><%= @last_name %></strong><br />
Email: <strong><%= @email %></strong><br />
Phone Number: <strong><%= @phone %></strong><br />
<br/>
Let's seal that deal!</p>
